** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}

a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px;
}

#navbar {
  background: #082032;
  overflow: auto;
  color: #fff;
}

#navbar a {
  color: #fff;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul li a:hover {
  background: #334756;
  color: #29c5f6;
}

#navbar ul li a.active {
  background: rgba(255, 255, 255, 0.1);
}

.container {
  margin: auto;
  max-width: 1366px;
  overflow: auto;
  padding: 0 20px;
}

#hero {
  background: url("../Image/hero_image.jpg") no-repeat center center/cover;
  height: 600px;
}

#hero .hero-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#hero .hero-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#hero .hero-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
.primary-text {
  color: #d37f12;
}

.text-lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #334756;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

#about {
  height: 400px;
}

#about p {
  line-height: 2em;
  font-size: 15px;
}

#about h2 {
  color: #d37f12;
}

#about i {
  margin-bottom: 10px;
}

#about .content-1,
#about .content-2,
#about .content-3 {
  float: left;
  width: 33%;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
}

#about a.c-btn {
  color: #082032;
}
#about a.c-btn:hover {
  color: #1100ff;
}
/* section testimonials */
#testimonials {
  background: url("/image/Section_Image_2.jpg") no-repeat center center/cover;
  height: 600px;
  overflow: hidden;
}

/* chaning the font color the heading and adjusting some spaces from the top edge */
#testimonials .lead-head {
  color: #fff;
  padding-top: 20px;
  margin-bottom: 20px;
}

#testimonials .testimonial img {
  height: 100px;
  width: 90px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* adding a color overlay on the background of the about section */
.row {
  background: rgba(39, 62, 84, 0.4);
  overflow: hidden;
  height: 600px;
  z-index: 2;
}
.bg-primary {
  background: rgba(255, 255, 255, 0.4);
}

/* adjusting the testimonials containers */
#testimonials .testimonial {
  padding: 20px;
  width: 50%;
  margin-bottom: 40px;
  border-radius: 1.2em;
}

/* footer */
footer {
  background: #082032;
  height: 70px;
  overflow: auto;
}

.container1 {
  color: #fff;
  text-align: center;
}
